<p id="notice"><%= notice %></p>
 <p> this is how </p>
<p>
  <strong>Tutor:</strong>

</p>

<p>
  <strong>Subject:</strong>

</p>



  <p>
    Your Existing Subjects are
    </p>
 <%@existing.each do |subject|%>

<ul>
 <p>

  <li><%=Subject.find(subject).name%> </li>

</p>

</ul>
  <%end%>

<p>
  Please select Subject which you want to add

  <%=form_for@test do |f| %>

<%=collection_select(:subject_id, :subject_id, Subject.all, :id, :name, prompt: true)%>
<%= f.button :submit %>

<%end%>
  </p>
   <%= link_to "Go to Tutor page", user_path %>
